body {
    background-color: lightgrey;
    font-family: Arial, sans-serif;
}

header {
    font-size: 36px;
    color: darkblue;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap:15px;
}

ul a {
    font-size: 24px;
    color: black;
}

.about, .services {
    font-size: 28px;
    color: darkblue;
}

.about p {
    font-size: 18px;
    color: black
}

ol {
    display: flex;
    gap: 35px;
}

form {
    font-size: 16px;
    color: black
}